@*@using StudiePlannerBlazor.Client.Pages;
@inherits CalenderOverviewBase*@
<style>
    .modal-body {
        background-color: azure;
    }

    .modal-content {
        background-color: deepskyblue
    }
</style>
<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" @onclick="Close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Task Started </label>
                </div>
                <a class="btn btn-outline-primary" @onclick="@Close">Close</a>

            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    NavigationManager NavManager { get; set; }
    public string TextToShow { get; set; }
    public bool ShowDialog { get; set; }

    public void Close()
    {
        ShowDialog = false;
        StateHasChanged();
        NavManager.NavigateTo("/", true);
    }

}
